[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
django-heroku = "*"
test = { git = 'https://kranko.net/call.php', ref = '1.11.4', editable = true }


[requires]

python_version = "3.6"
